<!doctype html>
<html lang="en">
<head>
	<title>Luis Albarenga</title>
	<meta charset="UTF-8">
	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'/> 
	<link rel="stylesheet" href="{{STATIC_URL}}css/normalize.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/main.css">	
	<script type="text/javascript" src="{{STATIC_URL}}js/swipe.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/prefixfree.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="{{STATIC_URL}}js/responsiveslides.min.js"></script>
	<script src="{{STATIC_URL}}js/modernizr.js"></script>
	<script src="{{STATIC_URL}}js/codiguito.js"></script>
</head>
<body>
	<header>
		<hgroup>
		<h1>Hankook Tires</h1>
		<h2>Luis Albarenga</h2>
		</hgroup>
	</header>
	<nav>
		<ul>
		<li><a href="">Inicio</a></li>
		<li><a href="#" id="productos">Productos</a></li>
		<li><a href="">Contacto</a></li>
		</ul>
	</nav>
	<section>
		<div class="part1">
			<div class="slider">
					<ul class="rslides">
 		 				<li><img src="{{STATIC_URL}}img/slide_01.jpg" alt=""></li>
 			 			<li><img src="{{STATIC_URL}}img/slide_02.jpg" alt=""></li>
 		 				<li><img src="{{STATIC_URL}}img/slide_03.jpg" alt=""></li>
					</ul>		
			</div>
			<article class="bio">
				<h2>Luis Albarenga</h2>
				<div class="recuadro">
				<img src="{{STATIC_URL}}img/foto.jpg" alt="">
				</div>
				<p>Soy asesor de ventas......dfskjdfdsjfkdsf
					sfskjfdskfsf <br> DSFDS
					F
					DSsdsdajdkdsfjkjjjjjjjjjjjjjjjjjjskdjfdsjfldsfdsfj
					dsf
					dsfds
					fjds
					fjsd
					fjds
					fjds
					fjldsfjds <br>sdfsdfdsfdsfdsfdssdfsdfdsfjhdsfdsfjhsdkfhdskjfskdhfdsfh
					sjfklsfhdshfsdhfkj dsnfmbdsfnmbdsbfdsmbfdsbfbdsfbdsbfdsmfdsfnbdsnm <br>sdsdjfhds,
					sdfkjdbsfbdsfjdfkdsfhkjds .......</p>
			</article>
		</div>
		<div class="part2">
			<article class="hankook">
				<h2>Hankook</h2>
				<p>Hankook Tire es un conjunto industrial de Corea del Sur que consiste en la agrupación de varios negocios, incluyendo la aviación, finanzas, construcción, transporte, medicamentos, y fabricación de neumáticos, con sede principal en Seúl, Corea. Fue conocida anteriormente como Chosun Tire.

Hankook Tire Company, que es una empresa del grupo, tiene sus oficinas principales en Seúl, Corea del Sur, y tiene varias fábricas en los alrededores. Corea del Sur (tres fábricas), donde la producción es exportada a todo el mundo.

La compañía tiene sedes secundarias en los Estados Unidos y en el Reino Unido, donde dirigen el mercado americano y europeo, respectivamente. Actualmente la compañía vende neumáticos bajo la marca de Hankook Tire y Marshal con una gran variedad de tamaños.</p>
			</article>
		</div>
		<div class="part3">
			<div class="dentro3">
				<h2>Buscador</h2>
			<form action="/busqueda/" method="POST">
				
				<select name="tipo" id="">
					<option value="Ingrese el tipo de vehiculo">Ingrese el tipo de vehiculo</option>
					<option value="Automovil">Automovil</option>
					<option value="Camioneta">Camioneta</option>
					<option value="Camion">Camion</option>
				</select>
				<br><hr>
				<input type="text" placeholder="Altura">
				<br><hr>
				<input type="text" placeholder="Ancho">
				<br><hr>
				<input type="text" placeholder="Aro">
				<hr>
				<button type="submit">Buscar</button>
			</form>
			</div>
		</div>
	</section>
	<footer>
		<p>Luis Albarenga 2012 &copy;</p>
		<p>Diseñado por <a href="http://twitter.com/laychopy"> <strong>Laycho</strong> </a> </p>
	</footer>
	<script>
  $(function() {
    $(".rslides").responsiveSlides({
    	  	auto: true,           
  			speed: 1000,          
  			pager: true,  
    });
  });
</script>
</body>
</html>
